.biospecimenTabWrapper {
  display: flex;
}
.biospecimenTabWrapper :global(.ant-pagination) {
  margin-bottom: 0;
}
.biospecimenTabWrapper .sampleIdCell {
  white-space: nowrap;
}
.sampleIdIcon {
  margin-left: 4px;
}

.hierarchicalModal {
  width: 1150px !important;

  :global(.ant-card-body) {
    padding: 0;
  }
}
