@import 'src/style/themes/include/colors';

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  gap: 12px;
}

.link {
  display: flex;
  width: 100%;
  align-items: baseline;
  justify-content: center;

  padding: 8px 16px;
  border: 1px solid $gray-4;
  background-color: $gray-2;

  &:hover {
    background: $gray-1;
  }
}

.icon {
  color: $gray-8;
}
