@import 'src/style/themes/include/layout';

.studyName {
  text-decoration-style: dotted;
  text-decoration-line: underline;
}

.popoverText {
  text-decoration-style: dotted;
  text-decoration-line: underline;
  color: inherit;
}
