.identificationCardContent {
  width: 100%;
}

.gravatarCol {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.removeImageButton {
  width: 100%;
}

.profileImageUpload :global(.ant-space-item):first-child {
  display: flex;
  justify-content: center;
}

.deleteMessage {
  text-align: center;
}
