@import 'src/style/themes/include/colors';
@import 'src/style/themes/include/layout';

.mainHeader {
  height: $main-header-height;
  background-color: $gray-1;
  padding: 12px 32px;
  box-shadow: 0 0 8px 0 transparentize(#26436f, 0.75);
  z-index: 1000;

  * {
    overflow: unset;
  }

  div[class$='-header-heading'],
  span[class$='-header-heading-title'],
  div[class$='-header-heading-left'] {
    height: 100%;
  }

  span[class$='-header-heading-title'] {
    margin-right: 28px;
  }

  div[class$='-header-heading-left'] {
    margin: 0;
  }

  span[class$='-header-heading-extra'] {
    display: flex;
    align-items: center;
  }

  .logo {
    height: 100%;
    width: auto;
  }

  .userMenuTrigger {
    color: $gray-8;
    display: flex;
    align-items: center;
    padding-right: 8px;
    border-radius: 2px;

    .userGravatar {
      margin: 5px 8px;
    }

    .userName {
      margin-right: 5px;
    }

    &:focus-visible {
      color: $gray-8;
      box-shadow: 0 0 0 2px $gray-8;
    }
  }

  .resourcesMenuTrigger {
    color: $gray-8;
    margin: 5px 8px;

    .resources {
      margin-right: 8px;
    }
  }
}

.siteWideBanner {
  z-index: 1001;
}

.userMenuEmail {
  cursor: default;
}

.linkText {
  padding-left: 8px;
}

.dropdown {
  min-width: 120px !important;
}
