.pageContent {
  width: 100%;
}
.pageContent .tableWrapper {
  width: 100%;
}
.pageContent .title {
  margin: 0;
}
.pageContent .label {
  margin-bottom: 8px;
}
.pageContent .headerTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pageContent .inputContainer {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}
.pageContent .guidButton {
  height: auto;
}

.summaryTitle {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

.summarySum {
  font-size: 12px;
  font-weight: 600;
}