.guidModal {
  width: 900px !important;

  .step *[class$='-alert-message'] {
    font-weight: 600;
  }
  .step .description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
  }

  .studiesLink {
    text-decoration: underline;
  }
}
