.headerBtn {
  border: none;
  color: var(--gray-8);
  padding: 4px 8px;
  margin: 0 5px;
}

.headerBtn.active,
.headerBtn.active:focus,
.headerBtn:hover {
  background-color: var(--gray-4);
  border: none;
  color: var(--gray-8);
}

.headerBtn:focus {
  background-color: transparent;
  border: none;
  color: var(--gray-8);
}
