@import 'src/style/themes/include/colors';

.externalLink {
  display: block;
}

.datasetTitle,
.datasetContainer {
  margin-bottom: 16px !important;
}

.dbgapLink {
  margin-right: 8px;
}

.datasetInfo {
  color: $gray-7;
  margin-left: 8px;
}

.publicationIcon {
  color: $gray-7;
}
