@import 'src/style/themes/include/layout';
@import 'src/style/themes/include/colors';

.communityWrapper {
  width: 100%;
  padding: $default-page-content-padding;
  margin: auto;
  display: flex;

  .userGravatar {
    width: 56px;
    height: 56px;
  }

  .tableWrapper {
    width: 100%;
  }

  .title {
    margin: 0;
  }

  .usagesWrapper {
    padding-left: 56px;
  }

  .usagesWrapper,
  .commercialUseWrapper {
    margin-top: 12px;

    .usagesListTitle {
      font-size: 13px;
      margin-bottom: 4px;
    }

    .usagesList {
      padding-left: 14px;
      font-size: 12px;
    }

    .commercialUseReason {
      font-size: 12px;
    }
  }

  .usersListWrapper {
    width: 100%;

    :global(.ant-list-pagination) {
      margin-top: 0;
      margin-bottom: 16px;
    }

    .membersList {
      background-color: unset;

      :global(.ant-col) {
        display: flex;
        flex-direction: column;
        height: 100%;
      }

      .memberListItem {
        height: 100%;
        margin-bottom: 24px;

        .memberLink {
          &:focus-visible {
            .memberCard {
              border: 1px solid $gray-8;
              box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px $gray-8;
            }
          }
        }
      }

      .memberCard {
        width: 100%;
        text-align: center;
        height: 100%;

        &:hover {
          -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.06); 
          box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.06);
        }

        .memberCardName {
          margin: 0;
          margin-top: 8px;
        }
      }
    }
  }
}
